@charset "utf-8";
/* CSS Document */
.col-10{
	width:10%;
	display:inline-block;
}
.bar .title, .bar  {
	height: 180px;
}
.pull-right{
	float:right;
}
.pull-left{
	float:left;
}
.full-width{
	width:100%;
	padding:0%;
}
.font-24{
	    font-size: 24px;
}
.tabbed-slidebox .tsb-icons {
	     margin: 123px 0;
		 background:#000;
		 margin-bottom: 0px !important;
}
.tsb-icons{
	margin-bottom: 11px !important;
}
.bar.bar-positive {
    border:none;
}
.pane, .view, .tabbed-slidebox .tsb-icons { 
	background-color: #fff;
}
.tabbed-slidebox .tsb-icons a {
	width: 101px !important;
    font-size: 15px !important;
    text-align: center !important;
    padding: 3px !important;
    /* background: cornflowerblue; */
    /* border-radius: 0px; */
    color: #0E0000 !important;
    margin: 9px;
    text-decoration: none;
	margin-bottom: 0;
}
.bar.bar-positive {
    border-color: #236f18;
    background-color: #1a5d10;
    background-image: linear-gradient(0deg, #1a5d10, #1a5d10 50%, transparent 50%);
    color: #fff;
}
.tabbed-slidebox .slider-slide {
	background-color: #f2f2f2;
}
.tabbed-slidebox .tsb-icons:after {
    border-color: transparent transparent #000000 transparent;
	border-width: 0;
}
.tabbed-slidebox .tsb-icons a.active {
	margin-bottom: 0;
    padding: 11px 0 !important;
	border-bottom: 4px solid black;
}

.live-scoring{
	width: 100%;
    min-height: 176px;
	margin-top: 25px;
}
.vs{
	width: 10%;
    float: left;
    text-align: center;
    font-size: 100%;
    border: 1px solid #F4D42D;
    padding: 2%;
    color: #121210;
    background: #F3EB21;
}
.inning-bar{
	width: 35%;
    float: left;
    text-align: center;
}
.inning-bar img{
	    width: 73px;
}
.inning-bar h5{
	margin: 0;
    color: #fff;
    padding: 0;
}
.inning-bar p{
	    font-size: 11px;
}
.live_fixter{
	width: 100% !important;
    margin-top: 1px;
	position: relative;
    top: -3px;
}
.match_vs{
	font-size: 18px;
    padding: 14%;
    background: #FCF136;
    display: inline-block;
    color: #090901;
    font-weight: bold;
}
.height-less{
	height: 22px;
}
.item img{
	background:#1A5D10;
}
.item h2{
	text-align: left;
    font-size: 1.3em;
    padding: 4px;
    padding-left: 0px;
}
.item .left-ioc{
	font-size: 34px;
    float: left;
    margin-right: 17px;
}
.item-avatar > img:first-child, .item-avatar .item-image, .item-avatar .item-content > img:first-child, .item-avatar .item-content .item-image, .item-avatar-left > img:first-child, .item-avatar-left .item-image, .item-avatar-left .item-content > img:first-child, .item-avatar-left .item-content .item-image {
	border-radius: 0%;
    padding: 5px;
}