<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.retailer.dominos"
        versionCode = "18" 
		CFBundleVersion = "1.0.8"
        version     = "1.0.8" >

    <!-- versionCode is optional and Android only -->
    
	<plugin name="com.jaeger.html5video" spec="1.2.1" source="pgb" />
	
    <name> Pizza Pakistan</name>
	
	<access origin="*" />    
    <content src="index.html" />
</widget>