@charset "utf-8";
/* CSS Document */
.bar .title, .bar  {
	height: 363px;
}
.tabbed-slidebox .tsb-icons {
	    margin: 327px 0;
}
.tsb-icons{
	margin-bottom: 11px !important;
}
.tabbed-slidebox .tsb-icons a {
	width: 101px !important;
    font-size: 19px !important;
    text-align: center !important;
    padding: 8px !important;
}
