@charset "utf-8";
/* CSS Document */
.bar .title, .bar  {
	height: 180px;
}
.tabbed-slidebox .tsb-icons {
	     margin: 138px 0;
		 background:#000;
}
.tsb-icons{
	margin-bottom: 11px !important;
}
.bar.bar-positive {
    border:none;
}
.pane, .view, .tabbed-slidebox .tsb-icons { 
	background-color: #fff;
}
.tabbed-slidebox .tsb-icons a {
	width: 101px !important;
    font-size: 15px !important;
    text-align: center !important;
    padding: 3px !important;
    /* background: cornflowerblue; */
    /* border-radius: 0px; */
    color: #0E0000 !important;
    margin: 9px;
    text-decoration: none;
    border-bottom: 1px solid black;
}
.tabbed-slidebox .slider-slide {
	background-color: #000;
}
.tabbed-slidebox .tsb-icons:after {
    border-color: transparent transparent #000000 transparent;
}
